asgiref
Django
django-cors-headers # fix cross origins request issue
djangorestframework 
djangorestframework-simplejwt #JWT authentication
PyJWT
pytz
sqlparse
psycopg2-binary #postgreSQL database
python-dotenv #loading in python env 


